@charset 'utf-8';

/*文字コード指定*/


/* ----- css reset(各ブラウザで指定されているスタイルを初期化)と全体設定 ----- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td,
img {
    margin: 0;
    /*ボックス外側の余白(値1つは上下左右をまとめて指定)*/
    padding: 0;
    /*ボックス内側の余白(値1つは上下左右をまとめて指定)*/
    border: 0;
    /*境界線指定*/
}

html,
body {
    height: 100%;
    /*領域の高さ指定*/
}

body {
    font-size: 75%;
    line-height: 1.9;
    /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
    /*background: #161616;*/
    /*背景は下に写りました*/
    /*背景指定*/
    font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
    color: #000000;
    /*文字色指定*/
}

h2 {
    color: #ffffff;
}

body::before {
    background-image: url(../images/background.webp);
    background-size: 80%;
    content: "";
    display: block;
    position: fixed;
    /* 擬似要素ごと固定 */
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    /* 横幅いっぱい */
    height: 100vh;
    /* 縦幅いっぱい */
}

ol,
ul {
    list-style: none;
    /*リストマーカーの種類指定(noneはなし)*/
}

a:hover {
    text-decoration: none;
    /*テキストの装飾指定(下線、上線など)(noneはなし)*/
}

.color1 {
    color: #990000;
    /*文字色指定*/
}


/*header ページ上の内容*/

header {
    position: fixed;
    /*ボックスの配置方法(fixedは固定)*/
    top: 0;
    /*上からの距離(positionで指定している場合に適用)*/
    left: 0;
    /*左からの距離(positionで指定している場合に適用)*/
    width: 100%;
    /*幅指定(100%は画面横幅いっぱいに表示)*/
    height: 70px;
    /*領域の高さ指定*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100;Blue+Grey+Flat */
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000000 0%, #000000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000000 0%, #000000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #000000 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
    z-index: 1000;
    /*ボックス重なり順序指定*/
}


/*左上のロゴ*/

h1 {
    padding-left: 30px;
    font-family: serif;
    /*フォントの種類指定(googleのwebフォント)*/
    font-size: 3em;
    line-height: 70px;
    /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
    height: 70px;
    /*領域の高さ指定*/
}

h1 a {
    top: auto;
    left: auto;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

h1 a:hover {
    /*時間的変化指定*/
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    /*ここまで時間的変化指定*/
    /*透明度設定*/
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    /*ここまで透明度設定*/
}


/*右上の内容*/

.top_countdown {
    position: absolute;
    /*ボックスの配置方法(absoluteは絶対位置配置)*/
    top: 10px;
    right: 8px;

    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}

.top_countdown a {
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Yuji Syuku', cursive;
}

.top_countdown a:hover {
    /*時間的変化指定*/
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    /*ここまで時間的変化指定*/
    /*透明度設定*/
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    /*ここまで透明度設定*/
}

.copyright {
    color: #fff;
    font-size: 0.9em;
    line-height: 15px;
    /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
    position: absolute;
    /*ボックスの配置方法(fixedは固定)*/
    bottom: 20px;
    /*下からの距離(positionで指定している場合に適用)*/
    left: 20px;
    /*左からの距離(positionで指定している場合に適用)*/
}


/*レイアウト設定*/

.wrapper {
    float: right;
    /*要素を左か右に寄せて配置(rightは右に寄せる)*/
    width: 100%;
    /*幅指定(100%は画面横幅いっぱいに表示)*/
    margin-top: 80px;
    /*ボックス外側上の余白*/
    margin-left: -200px;
    /*ボックス外側左の余白*/
}

.content {
    margin-left: 200px;
    /*ボックス外側左の余白*/
}

.center {
    text-align: center;
}

/*メインの内容*/

article {
    width: 100%;
    /*幅指定(100%は画面横幅いっぱいに表示)*/
    margin: 20px 0 50px 0;
    /*ボックス外側の余白*/
}

section {
    width: 80%;
    /*幅指定(100%は画面横幅いっぱいに表示)*/
    margin: 0 auto;
    /*ボックス外側の余白*/
    padding: 20px;
    /*ボックス内側の余白*/
    background: #ffffff;
    /*背景指定*/
}

.main_content {
    font-size: 2.3em;
    font-family: 'Yuji Syuku', cursive;
    text-align: center;
    font-weight: normal;
    color: #fff;
    padding: 0 7%;
}

.right {
    text-align: right;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.left {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.new {
    font-size: 0.8em;
    font-family: serif;
    color: red;
}

.news {
    font-size: 0.8em;
    color: #fff;
    text-decoration: none;
}

article h2 {
    font-size: 4.5em;
    font-weight: normal;
    /*フォントの太さ指定(normalは標準)*/
    font-family: 'Yuji Syuku', cursive;
    text-align: center;
    /*行の水平方向の揃え方(centerは中央揃え)*/
    line-height: 2;
    /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
}

article section h3 {
    font-family: serif;
    font-size: 1.5em;
    color: #000;
    font-weight: normal;
    /*フォントの太さ指定(normalは標準)*/
    margin-bottom: 10px;
    /*ボックス外側下の余白*/
    text-align: left;
}

article .box_link {
    font-size: 2.8em;
    display: block;
    text-align: center;
    text-decoration: none;

    box-sizing: content-box;
    width: 50%;
    height: 60%;
    border: 1.5px solid #ffffff;
    padding: 8px;
    margin: 5% auto;
}

article li {
    font-family: serif;
    font-size: 1.3em;
    margin-left: 20px;
    /*ボックス外側左の余白*/
}

.terms_content li li {
    font-size: 100%;
}

hr {
    padding: 0px;
    border: none;
    border-top: 1px solid #fff;
    width: 80%;
    height: 80%;
}

/* ----- 改行位置設定 ----- */

span.aks {
    display: inline-block;
}

/* ----- テーブル設定 ----- */

.ta {
    width: 95%;
    border-collapse: collapse;
    /*境界線の表示指定(collapseは重ねて表示)*/
    margin: 0 auto;
    /*ボックス外側の余白(値2つは左から上下,左右の値(左右autoで中央配置))*/
}

.ta th,
td {
    border: #fff;
    /*境界線の一括指定(noneはなし)*/

    border-style: solid;
    border-width: 1px;
    border-color: white;

    padding: 10px 10px 10px 10px;
    color: #ffffff;
    font-size: 1.3em;

    font-weight: normal;

    text-align: center;
    /* 改行可能にする */
    word-break: break-word;
    /* やっぱ禁止 */
    white-space: nowrap;
}

/* プログラム(一般) */
.out_program{
    overflow-x: auto;
    width: 97%;
    padding: 0px 0px 0px 3%;
}

.program th,
.program td {
    padding: 5px 5px 5px 5px;
    font-size: 1em;
}

.program tr:hover {
    /* 存在意義はないかも */
    background-color: #dddddd57;
    cursor: pointer;
}

.program .hidden_row {
    /* 初期見えない設定 */
    display: none;
}

/* タイムテーブル(体育関係) */
.time_table {
    overflow-x: auto;
}

.time_table table tr td:nth-child(2) {
    font-size: 0.8em;
}

.gym th,
.gym td {
    font-size: 1em;
    padding: 10px 5px 10px 5px;
}

/*map設定*/

.gmap {
    position: relative;
    /*ボックスの配置方法(relativeは相対位置配置)*/
    padding-bottom: 56.25%;
    /*ボックス内側下の余白*/
    padding-top: 30px;
    /*ボックス内側上の余白*/
    height: 0;
    /*領域の高さ指定*/
    overflow: hidden;
    /*ボックスのはみ出た部分の表示指定(hiddenは非表示)*/
}

.gmap iframe {
    position: absolute;
    /*ボックスの配置方法(absoluteは絶対位置配置)*/
    top: 0;
    /*上からの距離(positionで指定している場合に適用)*/
    left: 0;
    /*左からの距離(positionで指定している場合に適用)*/
    width: 100%;
    /*幅指定(100%は画面横幅いっぱいに表示)*/
    height: 100%;
    /*領域の高さ指定*/
}


/*ページトップに戻るアイコン*/

.pagetop {
    color: #fff;
}

.pagetop:hover {
    /*時間的変化指定*/
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    /*ここまで時間的変化指定*/
    color: #ffffff;
    /*文字色指定*/
    /*透明度設定*/
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    /*ここまで透明度設定*/
}


/*レスポンシブ設定*/

@media screen and (max-width: 768px) {

    h3,
    p,
    ol,
    li,
    th,
    td,
    dl {
        font-size: 1em;
    }

    header {
        height: 50px;
        /*領域の高さ指定*/
    }

    h1 {
        font-size: 2em;
        line-height: 50px;
        /*行の高さ指定(数値のみの場合はfont-sizeの倍数)*/
        height: 50px;
        /*領域の高さ指定*/
    }

    article h2 {
        font-size: 3em;
    }

    article .box_link {
        font-size: 1.8em;
    }

    .main_content {
        font-size: 1.5em;
    }

    .top_countdown {
        font-size: 0.9em;
    }

    .wrapper {
        margin: 50px 0 0 0;
        /*ボックス外側の余白*/
    }

    .content {
        margin: 0;
        /*ボックス外側の余白*/
        width: 100%;
        /*幅指定(100%は画面横幅いっぱいに表示)*/
    }

    section {
        width: 90%;
        /*幅指定(100%は画面横幅いっぱいに表示)*/
    }

    .copyright {
        /*透明度設定*/
        opacity: 0.5;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        /*ここまで透明度設定*/
    }
}

@media screen and (min-width: 800px) {
    .gym {
        width: auto;
    }

    .program{
        width: 80%;
    }
}